<!DOCTYPE html>
<html lang="en">
<head>
	<title>Barman 2.0</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Tuesdays are ladies' night!</h1>

  <p>Hello <%= @name.capitalize %>. I'm afraid you're not allowed in today.</p>

  <p><a href='/'>Try again.</a></p>
</div>
</body>
</html>